export TOLGEE_PKG_API_KEY="[your_api_key_here]"
export TOLGEE_PLATFORM_API_KEY="[your_api_key_here]"

export TOLGEE_PORT=6015
export TOLGEE_URL="http://localhost:${TOLGEE_PORT}"

export AUTHENTICATION_API_PORT=4011
export STUDIO_PLATFORM_PORT=6020
export STUDIO_STORYVERSE_PORT=6030
