# IDE
.idea

# Private files
.envrc

# Tanstack build files
.nitro
.output
.tanstack

# Storybook files
storybook-static

# Coverage and test files
coverage
test-results
port*.txt
__test__/screenshots

# Node modules
node_modules

*storybook.log
